@import "./mixin";

.noticeWrapper{
    width: 75%;
    margin: 5rem auto;

    h1{
        font-size: 1.5rem;
    }

    h2{
        font-weight: 500;
        padding: 2rem 0;
    }

    .pcTableContents{
        margin-top: 2rem;
        display:grid;
        grid-template-columns: 60% 20% 20%;
        justify-content: space-between;

        .tableClassifi{
            text-align: center;
            color: #fff;
            padding: 1.2rem;
            background-color: #006FD4;
        }

        #tableSub{
            border-right: 3px solid #fff;
        }

        #tableDate{
            border-right: 3px solid #fff;
        }

        .tableItem{
            padding: 1.5rem 1rem;
            border-bottom: 1px solid #C5C5C5;

            .imp{
                margin-right: 1rem;
                font-size: 0.9rem;
                background-color: #FF6D0C;
                font-weight: 700;
                color: #fff;
                padding: 0.5rem 1rem;
            }
        }

        .date, .view{
            text-align: center;
        }
    }

    .pageNumberWrapper{
        margin-top: 1.5rem;
        text-align: center;

        .pageNumber{
            display: inline-block;
            color: #fff;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            background-color: #006FD4;
        }
    }
}

@include mobile{

    .noticeWrapper{
        width: 85%;
        margin: 5rem auto;
    
        h1{
            font-size: 1rem;
        }
    
        h2{
            font-size: 0.8rem;
            font-weight: 500;
            padding: 1rem 0;
        }
    
        .pcTableContents{
            display:none;
        }

        .mobileTableContents{
            margin-top: 2rem;

            .tableClassifi{
                background-color: #006FD4;
                padding: 1rem;
                color: #fff;
                font-size: 0.8rem;
            }

            .tableItem{
                border-bottom: 1px solid #ddd;
                a{
                    padding: 1.5rem 0.5rem;
                    font-size: 0.65rem;

                    .imp{
                        margin-right: 1rem;
                        font-size: 0.7rem;
                        background-color: #FF6D0C;
                        font-weight: 700;
                        color: #fff;
                        padding: 0.3rem 0.8rem;
                    }
    
                    .date{
                        float:right;
                        line-height: 1.1rem;
                        font-size: 0.55rem;
                    }
                }

            }
        }
    
        .pageNumberWrapper{
            margin-top: 1.5rem;
            text-align: center;
    
            .pageNumber{
                display: inline-block;
                color: #fff;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                background-color: #006FD4;
            }
        }
    }

}