@import "./mixin";


.bodyWrapper{
    width: 100%;
    margin-bottom: 10%;


    .contentsWrapper{
        width: 85%;
        margin: 10% auto;

        .contentsLogo{
            margin: 0 auto;
            width: 20%;

            img{
                width: 100%;
            }
        }

        p{
            width: 70%;
            margin: 10% auto;
            text-align: center;
            font-size: 1.2rem;
            word-break: keep-all;
            line-height: 3rem;

            strong{
                color: #0068AB;
                font-size: 1.2rem;
            }
        }

        .iconWrapper{
            display:flex;
            justify-content: space-between;
            align-items: center;

            .iconContainer{
                width: 33.333%;
                text-align: center;

                img{
                    width: 25%;
                }

                h1{
                    margin: 5% 0;
                    font-size: 1.2rem;
                }

                h2{
                    font-size: 1rem;
                    font-weight: 500;
                }
                
            }
        }
    }
}

@include desktop {
    .bodyWrapper{

        .contentsWrapper{
            margin: 5% auto;
    
            .contentsLogo{
                width: 15%;
            }
    
            p{
                width: 70%;
                margin: 5% auto;
                text-align: center;
                font-size: 1rem;
                word-break: keep-all;
                line-height: 3rem;
    
                strong{
                    color: #0068AB;
                    font-size: 1rem;
                }
            }
    
            .iconWrapper{
    
                .iconContainer{
    
                    img{
                        width: 22%;
                    }
    
                    h1{
                        margin: 5% 0;
                        font-size: 1rem;
                    }
    
                    h2{
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                    
                }
            }
        }
    }
}

@include tablet{
    .bodyWrapper{

        .contentsWrapper{
            margin: 5% auto;
    
            .contentsLogo{
                width: 25%;
            }
    
            p{
                width: 70%;
                margin: 5% auto;
                text-align: center;
                font-size: 1rem;
                word-break: keep-all;
                line-height: 3rem;
    
                strong{
                    color: #0068AB;
                    font-size: 1rem;
                }
            }
    
            .iconWrapper{

                display:flex;
                flex-direction: column;
    
                .iconContainer{
                    width: 100vw;
                    margin: 5% 0;
    
                    img{
                        width: 15%;
                    }
    
                    h1{
                        margin: 3% 0;
                        font-size: 1.2rem;
                    }
    
                    h2{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    
                }
            }
        }
    }

}

@include mobile{
    .bodyWrapper{

        .contentsWrapper{
            margin: 5% auto;
    
            .contentsLogo{
                width: 40%;
            }
    
            p{
                width: 80%;
                font-size: 1rem;
                line-height: 2.5rem;
    
                strong{
                    font-size: 1rem;
                }
            }
    
            .iconWrapper{
    
                .iconContainer{
                    margin: 5% 0;
    
                    img{
                        width: 10%;
                    }
    
                    h1{
                        margin: 3% 0;
                        font-size: 1rem;
                    }
    
                    h2{
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                    
                }
            }
        }
    }

}