@charset "utf-8";
@import "./mixin";

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    font-family: 'NanumSquare', sans-serif;
    box-sizing: border-box;
}

a {
    color: #000;
    display: block;
    text-decoration: none;
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }

    width: 100%;
    height: 100%;
    
}

header {
    height: 5rem;
    position:relative;
    transition: right 0.5s ease;
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .logo {
        display: inline;
        width: 10%;
        height: 5rem;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    .pcNav {
        width: 60%;
        height: 5rem;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                cursor: pointer;
                font-weight: bold;
                text-align: center;

                a {
                    text-align: center;
                    width: 8rem;
                    line-height: 5rem;
                    height: 5rem;
                    font-size: 1rem;

                    &:hover {
                        border-bottom: 5px solid #006FD4;
                    }
                }

            }

            .far {
                margin-left: 1rem;
                font-size: 1.2rem;
                cursor: pointer;
            }

        }
    }

    .mobileNav {
        display: none;

        .hamburgerMenu {
            position: relative;
            width: 30px;
            height: 24px;

            .line {
                display: block;
                background-color: #000;
                height: 2px;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                &::before,
                &::after {
                    content: '';
                    background-color: #000;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                }

                &::before {
                    top: 10px;
                }

                &::after {
                    top: -10px;
                }
            }

        }
    }

}

.bodyWrapper{
    position:relative;
    transition: right 0.5s ease;
}


.mobileMenu{
    top: 5%;
    position:fixed;
    left: 100%;
    z-index: 8;
    background-color: #fff;
    width: 50vw;
    transition: left 0.5s ease;

    .loginSection{
        padding: 1rem;
        display:flex;
        justify-content:space-between ;

        span{
            color: #fff;
            text-align: center;
            width: 40%;
            padding: 5% 0;
            background-color:#006FD4;
            font-size: 0.8rem;
        }
    }

    ul{
        li{
            padding:  1.5rem 1rem;
            a{
                font-size: 1rem;
            }
        }
    }
}

.modal {
    width: 30vh;
    height: 10vh;
    display: none;
    position: absolute;
    z-index: 9;
    top: 13%;
    right: 2%;
    background-color: #fff;

    .loginWrapper {
        margin: 10% auto;
        text-align: center;
        width: 70%;

        input {
            border: 1px solid #ddd;
            margin: 3% 0;
        }
    }

    .buttonWrapper {
        position:relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 80%;
        justify-content: space-between;

        button {
            text-align: center;
            color: #fff;
            border: none;
            background-color: #006FD4;
            width: 45%;
            padding: 0.5rem 1rem;
        }
    }
}

.active {
    display: block;
}



.introWrapper {
    position: relative;
    width: 100%;
    height: 50vh;

    .introImage {
        width: 100%;
        height: 100%;
        background-size: cover;
        filter: brightness(50%);
    }

    .introInfo {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);

        h1 {
            display: inline;
            font-size: 1.8rem;
        }

        strong {
            font-size: 1.8rem;
            color: #4D92BC;
        }

    }
}

footer {
    height: 8rem;
    position: relative;
    width: 100%;
    display: block;
    background-color: #fff;



    .footerWrapper {
        width: 7%;
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;

        .infoWrapper {
            font-size: 0.75rem;
            margin: 0 auto;

            span {
                font-size: 1em;
                margin: 0 1em;
            }
        }

    }
}


@include widedesktop {
    $headerHeight: 5rem;

    header {
        height: #{$headerHeight};

        .logo {
            height: #{$headerHeight};
        }

        .pcNav {
            height: #{$headerHeight};
        }

        .mobileNav {
            display: none;
        }

    }

    footer {
        height: 8rem;
        .footerWrapper {

            img{
                width: 7%;
            }
            .infoWrapper {
                font-size: 0.75rem;

                span {
                    font-size: 1em;
                    margin: 0 1em;
                }
            }
        }
    }


}

@include desktop {
    $headerHeight: 4rem;

    header {
        height: #{$headerHeight};

        .logo {
            height: #{$headerHeight};
        }

        .pcNav {
            height: #{$headerHeight};

            ul {
                li {
                    a {
                        width: 7rem;
                        line-height: #{$headerHeight};
                        height: #{$headerHeight};
                        font-size: 0.85rem;
                    }
                }

                .far {
                    font-size: 1rem;
                }
            }
        }

        .mobileNav {
            display: none;
        }

    }

    .introWrapper {
        height: 50vh;
    
        .introInfo {
    
            h1 {
                font-size: 1.5rem;
            }
    
            strong {
                font-size: 1.5rem;
            }
    
        }
    }

    footer {
        height: 8rem;

        .footerWrapper {

            img {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                position: absolute;
                width: 7%;
            }
        }

        height: 6rem;
    }

}

@include tablet {

    header {
        .logo {
            width: 20%;
        }

        .pcNav {
            display: none;
        }

        .mobileNav {
            display: block;
        }

    }

    .introWrapper {
        height: 30vh;
    
        .introInfo {
            width: 100%;
            text-align: center;
    
            h1 {
                font-size: 1.5rem;
            }
    
            strong {
                font-size: 1.5rem;
            }
    
        }
    }

    .mobileMenu{ 
        .loginSection{
            span{
                font-size: 0.9rem;
            }
        }
    
        ul{
            li{
                padding:  1.5rem 1rem;
                a{
                    font-size: 1rem;
                }
            }
        }
    }

    footer {
        height: auto;
        padding: 3rem 0;

        .footerWrapper {
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 1rem;
                top: 0;
                transform: none;
                width: 20%;
                position: relative;
            }

            .infoWrapper {
                font-size: 0.75rem;
                display: flex;
                flex-direction: column;
                text-align: center;

                span {
                    padding: 0.5rem 0;
                    font-size: 1em;
                }
            }
        }
    }
}

@include mobile {

    header {
        .logo {
            width: 20%;
        }

        .pcNav {
            display: none;
        }

        .mobileNav {
            display: block;
        }

    }

    .introWrapper {
        height: 25vh;
    
        .introInfo {
            width: 100%;
            text-align: center;
    
            h1 {
                font-size: 1.2rem;
            }
    
            strong {
                font-size: 1.2rem;
            }
    
        }
    }

    .mobileMenu{
        
        .loginSection{
    
            span{
                font-size: 0.6rem;
            }
        }
    
        ul{
            li{
                padding: 1rem;
                a{
                    font-size: 0.8rem;
                }
            }
        }
    }

    footer {
        height: auto;
        padding: 3rem 0;

        .footerWrapper {
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 1rem;
                top: 0;
                transform: none;
                width: 20%;
                position: relative;
            }

            .infoWrapper {
                display: flex;
                flex-direction: column;
                text-align: center;

                span {
                    padding: 0.5rem 0;
                }
            }
        }
    }

}

