@import "./mixin";

.boardWrapper{
    width: 75%;
    margin: 5rem auto;

    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 2rem 0;
    }

    .pcTableContents{
        margin-top: 2rem;
        display:flex;
        justify-content: space-between;
        align-items: center;

        .tableClassifi{
            text-align: center;
            color: #fff;
            padding: 1.5rem;
            background-color: #006FD4;
        }

        .tableItem{
            font-size: 1.2rem;
        }

        #tableSub{
            .imp{
                margin-right: 1rem;
                font-size: 0.9rem;
                background-color: #FF6D0C;
                font-weight: 700;
                color: #fff;
                padding: 0.5rem 1rem;
            }
            width: 60%;
            text-align: left;
            border-right: 3px solid #fff;

        }

        #tableDate{
            font-size: 1.2rem;
            width: 20%;
            border-right: 3px solid #fff;
        }

        #tableView{
            font-size: 1.2rem;
            width: 20%;
        }
    }

    .mobileTableContents{
        display:none;
    }

    .writingSection{
        padding: 2rem;
        word-break: keep-all;
        line-height: 2rem;
        border-bottom: 1px solid #ddd;
        font-size: 1.1rem;
    }
}

@include desktop{
    .boardWrapper{
    
        h1{
            font-size: 1.5rem;
        }
    
        .pcTableContents{
            display:flex;
    
            .tableItem{
                font-size: 1rem;
            }

    
            #tableDate{
                font-size: 1rem;
            }
    
            #tableView{
                font-size: 1rem;
            }
        }

        .mobileTableContents{
            display:none;
        }

    }
}

@include tablet{

    .boardWrapper{

        width: 85%;
    
        h1{
            font-size: 1.5rem;
        }
    
        .pcTableContents{
            display:none;
        }

        .mobileTableContents{
            display: flex;

            .tableClassifi{
                text-align: center;
                color: #fff;
                padding: 1.2rem;
                background-color: #006FD4;
                font-size: 1rem;
            }

            #tableSub{
                .imp{
                    margin-right: 1rem;
                    font-size: 0.7rem;
                    background-color: #FF6D0C;
                    font-weight: 700;
                    color: #fff;
                    padding: 0.5rem 1rem;
                }
                border-right: 3px solid #fff;
                width: 70%;
            }

            .tableItem{
                font-size: 1rem;
            }

            #tableDate{
                font-size: 1rem;
                width: 30%;
            }
        }

    }



}

@include mobile{

    .boardWrapper{

        width: 85%;
    
        h1{
            font-size: 1rem;
        }

        h2{
            padding: 1.5rem 0;
            font-size: 0.8rem;
        }
    
        .pcTableContents{
            display:none;
    
            .tableItem{
                font-size: 0.8rem;
            }

    
            #tableDate{
                font-size: 0.8rem;
            }
    
            #tableView{
                font-size: 0.8rem;
            }
        }

        .mobileTableContents{
            display: flex;

            .tableClassifi{
                text-align: center;
                color: #fff;
                padding: 1.2rem;
                background-color: #006FD4;
                font-size: 1rem;
            }

            #tableSub{
                .imp{
                    margin-right: 0.5rem;
                    font-size: 0.65rem;
                    background-color: #FF6D0C;
                    font-weight: 700;
                    color: #fff;
                    padding: 0.4rem 0.8rem;
                }
                border-right: 3px solid #fff;
                width: 65%;
            }

            .tableItem{
                font-size: 0.7rem;
            }

            #tableDate{
                font-size: 0.7rem;
                width: 35%;
            }
        }

        .writingSection{
            font-size: 0.8rem;
        }

    }

}

