.bodyWrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.bodyWrapper .mainWrapper {
  position: relative;
}

.bodyWrapper .mainWrapper .mainImage {
  width: 100%;
  height: 100%;
  background-image: url("../image/mainImage.jpg");
  background-size: cover;
  filter: brightness(50%);
}

.bodyWrapper .mainWrapper .mainIntro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bodyWrapper .mainWrapper .mainIntro h1 {
  letter-spacing: 1px;
  color: #fff;
}

.bodyWrapper .mainWrapper .mainIntro h2 {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.bodyWrapper .mainWrapper .mainIntro a {
  letter-spacing: 2px;
  display: inline-block;
  background-color: #006FD4;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.bodyWrapper .mainWrapper .mainIntro a:hover {
  background-color: #17017a;
}

.bodyWrapper .pcBoardNav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.bodyWrapper .pcBoardNav .mainNav {
  display: flex;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list {
  width: 33.3333%;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(1) .subject {
  background-color: #006FD4;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(1) .subject:hover {
  background-color: #0258a8;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(2) .subject {
  background-color: #2688E2;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(2) .subject:hover {
  background-color: #1869c5;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(3) .subject {
  background-color: #57AFFF;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(3) .subject:hover {
  background-color: #4083db;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list a {
  color: #fff;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li {
  background-color: #fff;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a {
  color: #000;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a:hover {
  background-color: #eee;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a span {
  display: inline;
  background-color: #FF6D0C;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 1600px) {
  .mobileBoardNav {
    display: none;
  }
  .mainWrapper {
    height: 90%;
  }
  .mainIntro {
    font-size: 2.2rem;
  }
  .mainIntro h1 {
    font-size: 1em;
  }
  .mainIntro h2 {
    margin: 3% 0;
    font-size: 0.55em;
    line-height: 3rem;
  }
  .mainIntro a {
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
  .mainNav-list a {
    padding: 1.5rem 2rem;
  }
  .mainNav-list a .fa-chevron-right {
    margin-left: 1rem;
  }
  .mainNav-list .subNav a {
    font-size: 0.9rem;
  }
  .mainNav-list .subNav a span {
    margin-right: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 1600px) {
  .mobileBoardNav {
    display: none;
  }
  .mainWrapper {
    height: 90%;
  }
  .mainIntro {
    font-size: 2.2rem;
  }
  .mainIntro h1 {
    font-size: 1em;
  }
  .mainIntro h2 {
    margin: 3% 0;
    font-size: 0.55em;
    line-height: 3rem;
  }
  .mainIntro a {
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
  .mainNav-list a {
    padding: 1.5rem 2rem;
  }
  .mainNav-list a .fa-chevron-right {
    margin-left: 1rem;
  }
  .mainNav-list .subNav a {
    font-size: 0.9rem;
  }
  .mainNav-list .subNav a span {
    margin-right: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .mobileBoardNav {
    display: none;
  }
  .mainWrapper {
    height: 90%;
  }
  .mainWrapper .mainIntro {
    font-size: 1.7rem;
  }
  .mainWrapper .mainIntro h2 {
    margin: 5% 0;
    line-height: 2em;
  }
  .mainWrapper .mainIntro a {
    font-size: 0.85rem;
    padding: 0.8rem 2rem;
  }
  .mainNav-list a {
    font-size: 0.85rem;
    padding: 1.2rem 2rem;
  }
  .mainNav-list a .fa-chevron-right {
    font-size: 0.85rem;
    margin-left: 1rem;
  }
  .mainNav-list .subNav a {
    font-size: 0.8rem;
  }
  .mainNav-list .subNav a span {
    margin-right: 1rem;
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .mainWrapper {
    height: 50%;
  }
  .mainWrapper .mainIntro {
    width: 80%;
    font-size: 1.5rem;
  }
  .mainWrapper .mainIntro h2 {
    margin: 5% 0;
    line-height: 2em;
  }
  .mainWrapper .mainIntro a {
    font-size: 0.85rem;
    padding: 0.8rem 2rem;
  }
  .pcBoardNav {
    display: none;
  }
  .mobileBoardNav {
    width: 100%;
  }
  .mobileBoardNav .mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobileBoardNav .mainNav li {
    width: 33.3333%;
  }
  .mobileBoardNav .mainNav li a {
    font-size: 1rem;
    text-align: center;
    padding: 3rem 0;
    color: #fff;
  }
  .mobileBoardNav .mainNav li a i {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .mobileBoardNav .mainNav li:nth-child(1) .subject {
    background-color: #006FD4;
  }
  .mobileBoardNav .mainNav li:nth-child(1) .subject:hover {
    background-color: #0258a8;
  }
  .mobileBoardNav .mainNav li:nth-child(2) .subject {
    background-color: #2688E2;
  }
  .mobileBoardNav .mainNav li:nth-child(2) .subject:hover {
    background-color: #1869c5;
  }
  .mobileBoardNav .mainNav li:nth-child(3) .subject {
    background-color: #57AFFF;
  }
  .mobileBoardNav .mainNav li:nth-child(3) .subject:hover {
    background-color: #4083db;
  }
}

@media screen and (max-width: 425px) {
  .mainWrapper .mainIntro {
    font-size: 1.3rem;
  }
  .mobileBoardNav .mainNav li a {
    font-size: 0.8rem;
  }
}
