.bodyWrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.bodyWrapper .mobileBoardNav {
  display: none;
  width: 100%;
}

.bodyWrapper .mobileBoardNav .mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bodyWrapper .mobileBoardNav .mainNav li {
  width: 33.3333%;
}

.bodyWrapper .mobileBoardNav .mainNav li a {
  font-size: 1rem;
  text-align: center;
  padding: 3rem 0;
  color: #fff;
}

.bodyWrapper .mobileBoardNav .mainNav li a i {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(1) .subject {
  background-color: #006FD4;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(1) .subject:hover {
  background-color: #0258a8;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(2) .subject {
  background-color: #2688E2;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(2) .subject:hover {
  background-color: #1869c5;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(3) .subject {
  background-color: #57AFFF;
}

.bodyWrapper .mobileBoardNav .mainNav li:nth-child(3) .subject:hover {
  background-color: #4083db;
}

.bodyWrapper .mainWrapper {
  height: 90%;
  position: relative;
}

.bodyWrapper .mainWrapper .mainImage {
  width: 100%;
  height: 100%;
  background-image: url("../image/mainImage.jpg");
  background-size: cover;
  filter: brightness(50%);
}

.bodyWrapper .mainWrapper .mainIntro {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bodyWrapper .mainWrapper .mainIntro h1 {
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
}

.bodyWrapper .mainWrapper .mainIntro h2 {
  margin: 3% 0;
  font-size: 0.55em;
  line-height: 3rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.bodyWrapper .mainWrapper .mainIntro a {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #006FD4;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.bodyWrapper .mainWrapper .mainIntro a:hover {
  background-color: #17017a;
}

.bodyWrapper .pcBoardNav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.bodyWrapper .pcBoardNav .mainNav {
  display: flex;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list {
  width: 33.3333%;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .fa-chevron-right {
  margin-left: 1rem;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(1) .subject {
  background-color: #006FD4;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(1) .subject:hover {
  background-color: #0258a8;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(2) .subject {
  background-color: #2688E2;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(2) .subject:hover {
  background-color: #1869c5;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(3) .subject {
  background-color: #57AFFF;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list:nth-child(3) .subject:hover {
  background-color: #4083db;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list a {
  padding: 1.5rem 2rem;
  color: #fff;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li {
  background-color: #fff;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a {
  font-size: 0.9rem;
  color: #000;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a:hover {
  background-color: #eee;
}

.bodyWrapper .pcBoardNav .mainNav .mainNav-list .subNav li a span {
  margin-right: 1rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  display: inline;
  background-color: #FF6D0C;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .bodyWrapper .mobileBoardNav {
    display: block;
  }
  .bodyWrapper .mainWrapper {
    height: 50vh;
  }
  .bodyWrapper .mainWrapper .mainIntro {
    width: 80vw;
    font-size: 1.5rem;
  }
  .bodyWrapper .mainWrapper .mainIntro h1 {
    font-size: 1em;
  }
  .bodyWrapper .mainWrapper .mainIntro h2 {
    margin: 3% 0;
    font-size: 0.55em;
    line-height: 2em;
  }
  .bodyWrapper .mainWrapper .mainIntro a {
    font-size: 0.85rem;
    padding: 0.8rem 2rem;
  }
  .bodyWrapper .pcBoardNav {
    display: none;
  }
  .bodyWrapper .mobileBoardNav .mainNav li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .bodyWrapper .mainWrapper .mainIntro {
    font-size: 1.27rem;
  }
  .bodyWrapper .mainWrapper .mainIntro h2 {
    margin: 5% 0;
  }
  .bodyWrapper .mainWrapper .mainIntro a {
    font-size: 0.8rem;
    padding: 0.8rem 2rem;
  }
  .bodyWrapper .pcBoardNav {
    display: none;
  }
  .bodyWrapper .mobileBoardNav .mainNav li a {
    font-size: 0.8rem;
  }
}
