* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  font-family: 'NanumSquare', sans-serif;
  box-sizing: border-box;
}

a {
  color: #000;
  display: block;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

header {
  position: relative;
  transition: right 0.5s ease;
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

header .logo {
  display: inline;
  width: 10%;
}

header .logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

header .pcNav {
  width: 60%;
}

header .pcNav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .pcNav ul li {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

header .pcNav ul li a {
  text-align: center;
}

header .pcNav ul li a:hover {
  border-bottom: 5px solid #006FD4;
}

header .pcNav ul .far {
  margin-left: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

header .mobileNav .hamburgerMenu {
  position: relative;
  width: 30px;
  height: 24px;
}

header .mobileNav .hamburgerMenu .line {
  display: block;
  background-color: #000;
  height: 2px;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header .mobileNav .hamburgerMenu .line::before, header .mobileNav .hamburgerMenu .line::after {
  content: '';
  background-color: #000;
  height: 2px;
  width: 100%;
  position: absolute;
}

header .mobileNav .hamburgerMenu .line::before {
  top: 10px;
}

header .mobileNav .hamburgerMenu .line::after {
  top: -10px;
}

.bodyWrapper {
  position: relative;
  transition: right 0.5s ease;
}

.mobileMenu {
  top: 5%;
  position: fixed;
  left: 100%;
  z-index: 8;
  background-color: #fff;
  width: 50%;
  transition: left 0.5s ease;
}

.mobileMenu .loginSection {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.mobileMenu .loginSection span {
  color: #fff;
  text-align: center;
  width: 4.5rem;
  padding: 0.5rem 0;
  background-color: #006FD4;
  font-size: 0.8rem;
}

.mobileMenu ul li {
  padding: 1rem;
}

.mobileMenu ul li a {
  font-size: 0.8rem;
}

.modal {
  display: none;
  position: absolute;
  z-index: 9;
  top: 15%;
  right: 2%;
  background-color: #fff;
}

.modal .loginWrapper {
  margin: 10% auto;
  text-align: center;
  width: 70%;
}

.modal .loginWrapper input {
  border: 1px solid #ddd;
  margin: 3% 0;
}

.modal .buttonWrapper {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.modal .buttonWrapper button {
  text-align: center;
  color: #fff;
  border: none;
  background-color: #006FD4;
}

.active {
  display: block;
}

.introWrapper {
  position: relative;
  width: 100%;
  height: 50vh;
}

.introWrapper .introImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(50%);
}

.introWrapper .introInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}

.introWrapper .introInfo h1 {
  display: inline;
  font-size: 1.8rem;
}

.introWrapper .introInfo strong {
  font-size: 1.8rem;
  color: #4D92BC;
}

footer {
  position: relative;
  width: 100%;
  display: block;
  background-color: #fff;
}

footer .footerWrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
}

footer .footerWrapper .infoWrapper {
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  header {
    height: 5rem;
  }
  header .logo {
    height: 5rem;
  }
  header .pcNav {
    height: 5rem;
  }
  header .pcNav ul li a {
    width: 8rem;
    line-height: 5rem;
    height: 5rem;
    font-size: 1rem;
  }
  footer .footerWrapper .infoWrapper {
    font-size: 0.75rem;
  }
  footer .footerWrapper .infoWrapper span {
    font-size: 1em;
    margin: 0 1em;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 4rem;
  }
  header .logo {
    height: 4rem;
  }
  header .pcNav {
    height: 4rem;
  }
  header .pcNav ul li a {
    width: 7rem;
    line-height: 4rem;
    height: 4rem;
    font-size: 0.85rem;
  }
  header .pcNav ul .far {
    font-size: 1rem;
  }
  header .mobileNav {
    display: none;
  }
  footer {
    height: 8rem;
    height: 6rem;
  }
  footer .footerWrapper img {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    width: 7%;
  }
}

@media screen and (max-width: 768px) {
  header .logo {
    width: 20%;
  }
  header .pcNav {
    display: none;
  }
  header .mobileNav {
    display: block;
  }
  footer {
    height: auto;
    padding: 3rem 0;
  }
  footer .footerWrapper {
    display: flex;
    flex-direction: column;
  }
  footer .footerWrapper img {
    margin-bottom: 1rem;
    top: 0;
    transform: none;
    width: 20%;
    position: relative;
  }
  footer .footerWrapper .infoWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .footerWrapper .infoWrapper span {
    padding: 0.5rem 0;
    font-size: 0.5em;
  }
}
